<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ALERTA" value="false"/>
    <add key="DICA" value="false"/>
    <add key="MACROCLIENTE" value="WALPIRES"/>
    <add key="ANALISECOMPARTILHADA" value="false"/>
    <add key="TITULO" value="WALPIRES - Traderdata WebstockChart"/>
    <add key="BOVESPART" value="true"/>
    <add key="BMFRT" value="true"/>
    <add key="SUPORTE" value="true"/>
    <add key="CORFUNDO" value="#FF000000"/>
    <add key="RTHOST" value="https://app-ext.traderdata.com.br/tw10.tick.bmfbovespa.rt/request.ashx"/>
    <add key="RTPORT" value="4510"/>
    <add key="LINKMANUAL" value="http://wiki.traderdata.com.br/home/traderdata-web-1-0"/>
    <add key="SOAURL" value="https://webservice.traderdata.com.br/tw-walpires/service.svc"/>
    <add key="LINKVISUALIZACAO" value="https://walpires.traderdata.com.br/VisualizarAnalise.aspx"/>
    <add key="LINK-DISCLAIMER" value="https://walpires.traderdata.com.br/disclaimer.pdf"/>
    <add key="MARCADAGUA" value=""/>
    <add key="MARCADAGUA-LEFT" value="100"/>
    <add key="MARCADAGUA-TOP" value="100"/>
    <add key="MARCADAGUA-SIZE" value="100"/>
    <add key="MARCADAGUA-WIDTH" value="200"/>
    <add key="SPLASHSCREEN" value=""/>
    <add key="AMBIENTE" value="HML"/>
    <add key="REDIRECT-EC2" value=""/>
    <add key="CAMINHO-DOWNLOAD" value="https://walpires.traderdata.com.br"/>
    <add key="CAMINHO-IMAGEM" value="https://s3-sa-east-1.amazonaws.com/tw-walpires/"/>
    <add key="BASE-ADDRESS" value="https://walpires.traderdata.com.br"/>
    <add key="SIMPLETRADER" value="false"/>
    <add key="SOAMD" value="https://app-ext.traderdata.com.br/terminal-web-sl1/service.svc"/>
    <add key="GA" value="UA-45157855-5"/>
    <add key="broker" value="WALPIRES"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="DefaultGraficoIntegracaoSTech.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>